::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background: transparent;
}

:root {
  --main-color: #0b0b0b;
  --color-white: #ffffff;
  --color-red: #e50914;
  --color-gray: #818181;
}
